*{
        font-family: "Titillium Web", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;     
}
header{
    background-image: url(./imagens/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.7rem;
}
:root{
    --gray-800: #1e293b;
}
main{
    padding-inline: 1.5rem;
}
.descricao h1{
    color: var(--gray-800);
    margin-bottom: 1rem;
}
